/***********************************************************************
*																	   *
*						Source :									   *
* https://www.w3schools.com/html/tryit.asp?filename=tryhtml_lists_menu *
*																	   *
*				Feuille de style pour un simple menu				   *
*							horizontal								   *
*																	   *
***********************************************************************/
ul.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}
ul.menu li {
  float: left;
}

ul.menu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

ul.menu li a:hover {
  background-color: #111111;
}
